<%- include('./partials/head')-%>

<body class="container">
  <%- include('./partials/header')-%>

  <main>
    <a href="/auth/google" class="btn google">
      <i class="fa fa-google fa-fw"></i> Sign in with Google
    </a>
    <a href="/auth/twitter" class="twitter btn">
      <i class="fa fa-twitter fa-fw"></i> Sign in with Twitter
    </a>
  </main>
  <%- include('./partials/footer')-%>
</body>
