<%- include('./partials/head')-%>

<body class="container">
  <%- include('./partials/header')-%>

  <main>
    <a href="/auth/twitter" class="twitter btn">
      <i class="fa fa-twitter fa-fw"></i> Login with Twitter
    </a>
  </main>
  <%- include('./partials/footer')-%>
</body>
